<div class="NavBarPrimary">
    <div class="NavBarPrimaryArea">

        <!-- LeftSide -->
        <div class="NavBarPrimaryLeftSide">
            <img src="/Front/Img/LogoCentralisinfos/300ppi/LOGO3.png" alt="LOGO" class="LOGOThemeSombre">
            <img src="/Front/Img/LogoCentralisinfos/300ppi/LOGO1.png" alt="LOGO" class="LOGOThemeClair">
            <p class="Discipline">Discipline</p>
            <p class="UniversaryCursus">Cursus Universitaire</p>
            <img src="/Front/Img/moon.svg" alt="DarkTheme" class="DarkThemeLOGO">
            <img src="/Front/Img/sun.svg" alt="LightTheme" class="LightThemeLOGO">
        </div>

        <!-- CenterSide -->
        <div class="NavBarPrimaryCenterSide">
            <input type="text" placeholder="Recherche cours/tutos" class="ResearchInput">
            <img src="/Front/Img/lens.svg" alt="lens" class="Lens">
        </div>

        <!-- RightSide -->
        <div class="NavBarPrimaryRightSide">
            <div class="Gift">
                <img src="/Front/Img/heart.png" alt="GiftLogo" class="GiftLogo">
                <p class="GiftQuestion">Tu m'offres un café ?</p>
            </div>
            <p class="Tutos">Tutos</p>
            <p class="Forum">Forum</p>
            <div>
                <img src="/Front/Img/accountLogo.svg" alt="AccountLogo" class="AccountLogo">
            </div>

        </div>

    </div>
</div>
