*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000000;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #ffffff;
}
p{
    color: #ffffff;
}

/* HEADER */
.Header{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #0b223ae6, #001325b3); 
}
.Header div{}

/* LEFT */
    .Header .Left{
        display: flex;
        flex-direction: row;
    }
    .Header .Left .Welcome{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Left .Welcome a{}
    .Header .Left .Welcome .Logo{}
    .Header .Left .Welcome .HomePage{}

    .Header .Left .Education{
        display: flex;
        flex-direction: row;
    }
    .Header .Left .Education .SkillsMenu{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Left .Education .SkillsMenu .SkillsAnchor{
    }
    .Header .Left .Education .SkillsMenu .SkillsSubMenu{
        display: none;
        padding-left: 20px;
        background-color: #111111;
        width: 100px;
    }
    .Header .Left .Education .SkillsMenu:hover .SkillsSubMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    .Header .Left .Education .SubjectMenu{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Left .Education .SubjectMenu .SubjectAnchor{}
    .Header .Left .Education .SubjectMenu .SubjectSubMenu{
        display: none;
        background-color: #111111;
        padding-left: 20px;
        width: 100px;
    }
    .Header .Left .Education .SubjectMenu:hover .SubjectSubMenu{
        display: flex;
        position: absolute;
        flex-direction: column;
    }



    .Header .Left .Education .UniversityCourseMenu{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Left .Education .UniversityCourseMenu .UniversityCourseMenuAnchor{}
    .Header .Left .Education .UniversityCourseMenu .UniversityCourseSubMenu{
        display: none;
        width: 100px;
        background-color: #111111;
        padding-left: 20px;
    }
    .Header .Left .Education .UniversityCourseMenu:hover .UniversityCourseSubMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
    }
/* /LEFT */

/* CENTER */
    .Header .Center{}
/* /CENTRE */

/* RIGHT */
    .Header .Right{
        display: flex;
        flex-direction: row;
    }
    .Header .Right a{
        padding-right :  50px;
    }
    .Header .Right .TutosMenu{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Right .TutosMenu .TutosAnchor{}
    .Header .Right .TutosMenu .TutosSubMenu{
        display: none;
        width: auto;
        background-color: #111111;
        padding-left: 20px;
    }
    .Header .Right .TutosMenu:hover .TutosSubMenu{
        display: flex;
        flex-direction: column;
        position: absolute;
    }

    .Header .Right .Forum{
        line-height: 60px;
    }
    .Header .Right .Account{
        line-height: 60px;}
/* /RIGHT */

/* /HEADER */

/* MAIN */
    .Main{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .Main div{}
    .Main .ToDefine{
        background-color: #222222;
        width: 20%;
    }
    .Main .ToDefine p{}
    .Main .Content{
        background-color: #444444;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .Main .Content p{}
    
    .Main .Right{
        width: 10%;
    }
    .Main .Right .Notes{
        background-color: #666666;
        height: 80%;
    }
    .Main .Right .Notes p{}

    .Main .Right .Ads{
        background-color: #888888;
        height: 20%;
    }
    .Main .Right .Ads p{}
/* /MAIN */

/* FOOTER */
.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: #333333;
}
/* /FOOTER */