*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000000;
}

a{
    text-decoration: none;
    color: #ffffff;
}
p{
    color: #ffffff;
}

/* HEADER */
.Header{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #0b223ae6, #001325b3); 
}
.Header div{}

/* LEFT */
    .Header .Left{
        display: flex;
        flex-direction: row;
    }
    .Header .Left .Welcome{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Left .Welcome a{}
    .Header .Left .Welcome .Logo{}
    .Header .Left .Welcome .HomePage{}

    .Header .Left .Education{
        display: flex;
        flex-direction: row;
    }
    .Header .Left .Education .SkillsMenu{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Left .Education .SkillsMenu .SkillsAnchor{
    }
    .Header .Left .Education .SkillsMenu .SkillsSubMenu{
        display: none;
    }
    .Header .Left .Education .SkillsMenu:hover .SkillsSubMenu{
        display: flex;
        flex-direction: column;
        background-color: #111111;
        position: absolute;
        width: 100px;
    }

    .Header .Left .Education .SubjectMenu{
        line-height: 60px;
        padding-left: 30px;
    }
    .Header .Left .Education .SubjectMenu .SubjectAnchor{}
    .Header .Left .Education .SubjectMenu .SubjectSubMenu{
        display: none;
    }
    .Header .Left .Education .SubjectMenu:hover .SubjectSubMenu{
        display: flex;
        flex-direction: column;
        background-color: #111111;
        position: absolute;
        width: 100px;
    }
/* /LEFT */

/* CENTER */
    .Header .Center{}
/* /CENTRE */

/* RIGHT */
    .Header .Right{}
    .Header .Right a{
        padding-right :  30px;
    }
    .Header .Right .Tutos{}
    .Header .Right .Forum{}
    .Header .Right .Account{}
/* /RIGHT */

/* /HEADER */

/* MAIN */
    .Main{
        display: flex;
        flex-direction: row;
    }
    .Main div{}
    .Main .ToDefine{
        background-color: #222222;
        width: 20%;
    }
    .Main .ToDefine p{}
    .Main .Content{
        background-color: #444444;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .Main .Content p{}
/* /MAIN */

/* FOOTER */
.Footer{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: #111111;
}
/* /FOOTER */