<nav class="NavBarSecondary">
    <nav class="NavBarSecondaryArea">

        <div class="Widget">
            <div class="Header">Header</div>
            <div class="Content">Content</div>
            <div class="ResizingHandle">Poignée de redimentionnement</div>
        </div>

        <!-- LeftSide -->
        <div class="NavBarSecondaryLeftSide">
            <p class="SkillsResponsive">Niveaux</p>
            <p class="DisciplinesResponsive">Disciplines</p>
            <p class="Skill Sixieme">Sixieme</p>
            <p class="Skill Cinquieme">Cinquieme</p>
            <p class="Skill Quatrieme">Quatrieme</p>
            <p class="Skill Troisieme">Troisieme</p>
            <p class="Skill Seconde">Seconde</p>
            <p class="Skill Premiere">Premiere</p>
            <p class="Skill Terminal">Terminale</p>

        </div>

        <!-- CenterSide -->
        <div class="NavBarSecondaryCenterSide">
            <button class="WidgetButton">Widgets</button>
            <div class="DropdownMenu">
                <button>Todolist</button>
                <button>Calendrier</button>
                <button>Notes</button>
            </div>
        </div>


        <!-- RightSide -->
        <div class="NavBarSecondaryRightSide">
            <p class="PinResponsive">Epingles</p>
            <p class="Pin Pin1">Epingle 1</p>
            <p class="Pin Pin2">Epingle 2</p>
            <p class="Pin Pin3">Epingle 3</p>
            <p class="Pin Pin4">Epingle 4</p>
            <p class="Pin Pin5">Epingle 5</p>
            <p class="Disconnect">Deconnexion</p>
        </div>

    </nav>
</nav>

<div class="WidgetContainer"></div>