.NavBarSecondary{
    .NavBarSecondaryArea{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;

        height: 40px;

        .Widget{
            display: none;
        }

        .NavBarSecondaryLeftSide{
            display: flex;
            flex-direction: row;
            margin-left: 15px;
            gap: 10px;
            
        }

        .NavBarSecondaryCenterSide{
            .DropdownMenu{
                display: none;
                flex-direction: column;

                position: absolute;
                margin-top: 10px;
                left: calc(50% - 27px);

                padding: 20px;
                gap: 10px;

                border: 1px solid #FFFFFF;
            }
        }

        .NavBarSecondaryRightSide{
            display: flex;
            flex-direction: row;
            margin-right: 15px;
            gap: 10px;
            
        }

        .SkillsResponsive{
            display: none;
        }

        .DisciplinesResponsive{
            display: none;
        }

        .PinResponsive{
            display: none;
        }

        
    
    }
    .WidgetWindow {
        width: 200px;
        height: 200px;
        position: absolute;
        background-color: #000000;
        border: 1px solid #ccc;
        resize: both;
        overflow: hidden;
        .WidgetHeader{
            display: flex;
            justify-content: space-between;
            color: #FFFFFF;
            border-bottom: 1px solid #FFFFFF;
        }
        .WidgetContent{
            color: #FFFFFF;
        }
    }
}

@media (max-width: 1100px) and (min-width: 951px) {
    .Skill{
        display: none;
    }
    .Pin{
        display: none;
    }
    .Disconnect{
        display: none;
    }

    .NavBarSecondary{
        .NavBarSecondaryArea{
            .NavBarSecondaryLeftSide{
                .SkillsResponsive{
                    display: flex;
                }
                .DisciplinesResponsive{
                    display: flex;
                }
            }

            .NavBarSecondaryCenterSide{
                .WidgetButton{
                    margin-right: 30px;
                }
            }

            .NavBarSecondaryRightSide{
                .PinResponsive{
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    
    .Skill{
        display: none;
    }
    .Pin{
        display: none;
    }
    .Disconnect{
        display: none;
    }

    .NavBarSecondary{

        .NavBarSecondaryArea{
            .NavBarSecondaryLeftSide{
                .SkillsResponsive{
                    display: flex;
                }
                .DisciplinesResponsive{
                    display: flex;
                }
            }

            .NavBarSecondaryCenterSide{
                .WidgetButton{
                    margin-right: 5px;
                }
                .DropdownMenu{
                    margin-left: 10px;
                }
            }

            .NavBarSecondaryRightSide{
                .PinResponsive{
                    display: flex;
                }
            }
        }
    }
}